@page
@model ContactConfirmationModel
@{
    ViewData["Title"] = "Thank You";
}

<div class="container text-center mt-5">
    <h2>Thank You!</h2>
    <p>Your message has been successfully sent. I’ll get back to you as soon as possible.</p>
    <a href="/" class="btn btn-primary mt-3">Return Home</a>
</div>